.nav .dropdown {
    display: none;
}

@media only screen and (max-width: 900px) {
    .nav a {
        display: block;
        /*float: none;*/
    }
}

@media only screen and (max-width: 600px) {
    .nav a {
        display: none;
        /*float: none;*/
    }
    
    .nav .dropdown {
        display: block;
        border: none;
        background: none;
    }
    
    .nav:hover a {
        display: block;
    }
}