section {
  border: 1px solid #000;
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: calibri, sans-serif;
}

section h1 {
  margin-top: 0;
  text-align: center;  
}

input[type=submit],
input[type=reset] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  cursor: pointer;
}

fieldset {
  border: 1px solid #000;
  margin: 8px 0;
}

* {
  box-sizing: border-box;	
}